body {
    background-image: url('../img/home/background-home-mobile.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;

    &#destination {
        background-image: url('../img/destination/background-destination-mobile.jpg');
    }
    &#crew {
        background-image: url('../img/crew/background-crew-mobile.jpg');
    }
}

@media (min-width: $breakTablet) {
    body {
        background-image: url('../img/home/background-home-tablet.jpg');

        &#destination {
            background-image: url('../img/destination/background-destination-tablet.jpg');
        }
        &#crew {
            background-image: url('../img/crew/background-crew-tablet.jpg');
        }
    }
}

@media (min-width: $breakDesktop) {
    body {
        background-image: url('../img/home/background-home-desktop.jpg');

        &#destination {
            background-image: url('../img/destination/background-destination-desktop.jpg');
        }
        &#crew {
            background-image: url('../img/crew/background-crew-desktop.jpg');
        }
    }
}