@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url("../img/home/background-home-mobile.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

body#destination {
  background-image: url("../img/destination/background-destination-mobile.jpg");
}

body#crew {
  background-image: url("../img/crew/background-crew-mobile.jpg");
}

@media (min-width: 768px) {
  body {
    background-image: url("../img/home/background-home-tablet.jpg");
  }
  body#destination {
    background-image: url("../img/destination/background-destination-tablet.jpg");
  }
  body#crew {
    background-image: url("../img/crew/background-crew-tablet.jpg");
  }
}

@media (min-width: 1440px) {
  body {
    background-image: url("../img/home/background-home-desktop.jpg");
  }
  body#destination {
    background-image: url("../img/destination/background-destination-desktop.jpg");
  }
  body#crew {
    background-image: url("../img/crew/background-crew-desktop.jpg");
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.navigation__visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.navigation__visibleRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.navigation__visibleRightDesktop {
  display: none;
}

.navigation__visibleRightMobile {
  padding: 2.0625rem 1.5rem;
}

.navigation__visibleRightMobile.home {
  display: none;
}

.navigation__visibleLeft {
  padding: 1.5rem;
}

.navigation__visibleLeftImage {
  width: 2.5rem;
}

.navigation__visibleMiddle {
  display: none;
}

.navigation__invisible {
  position: absolute;
  top: -100%;
  width: 65%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(5.09678rem);
          backdrop-filter: blur(5.09678rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 2rem;
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
  z-index: 999999;
}

.navigation__invisibleClose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2.12188rem;
}

.navigation__invisibleCloseImg {
  width: 1.1875rem;
  height: 1.1875rem;
}

.navigation__invisibleItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.navigation__invisibleItemsInstance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__invisibleItemsInstanceLink {
  text-decoration: none;
  font-family: "Barlow Condensed", sans-serif;
  color: #FFFFFF;
  font-size: 1rem;
  letter-spacing: 0.16875rem;
}

.navigation__invisibleItemsInstanceLinkLine {
  display: none;
  width: 3px;
  height: 31px;
  background-color: #FFFFFF;
}

.navigation__invisibleItemsInstanceLinkLine.active {
  display: block;
}

@media (min-width: 768px) {
  .navigation__visibleLeft {
    padding: 1.5rem 2.4375rem;
  }
  .navigation__visibleLeftImage {
    width: 2.5625rem;
  }
  .navigation__visibleRightDesktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2.3125rem;
    background: rgba(255, 255, 255, 0.04);
    -webkit-backdrop-filter: blur(81.5485px);
            backdrop-filter: blur(81.5485px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2.4375rem 3rem 0 3rem;
  }
  .navigation__visibleRightDesktopItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .navigation__visibleRightDesktopItemLink {
    text-decoration: none;
    font-family: "Barlow Condensed", sans-serif;
    color: #FFFFFF;
    font-size: 0.875rem;
    letter-spacing: 0.1475rem;
    padding-bottom: 2.5rem;
  }
  .navigation__visibleRightDesktopItemLine {
    opacity: 0;
    background-color: #FFFFFF;
    width: 100%;
    height: 0.1875rem;
    justify-self: flex-end;
    -ms-flex-item-align: end;
        align-self: flex-end;
    -webkit-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
  }
  .navigation__visibleRightDesktopItemLine.active {
    opacity: 1;
  }
  .navigation__visibleRightMobile {
    display: none;
  }
  .numbers {
    display: none;
  }
}

@media (min-width: 1440px) {
  .navigation {
    margin-top: 2.5rem;
  }
  .navigation__visibleRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navigation__visibleMiddle {
    position: relative;
    left: 50px;
    display: block;
    background-color: #FFFFFF;
    width: 29.5625rem;
    height: 0.0625rem;
    z-index: 9999;
  }
  .navigation__visibleLeft {
    padding-left: 3.4375rem;
  }
  .navigation__visibleLeftImage {
    width: 3rem;
  }
  .navigation__visibleRightDesktop {
    padding-right: 10.3125rem;
    padding-left: 7.6875rem;
  }
  .navigation__visibleRightDesktopItem:hover .navigation__visibleRightDesktopItemLine {
    opacity: 0.5;
  }
  .navigation__visibleRightDesktopItemLink {
    font-size: 1rem;
    letter-spacing: 0.16875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.6875rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .numbers {
    display: block;
  }
}

.openMobileNav {
  top: 0;
}

.disableOverflow {
  overflow: hidden;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

.intro__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 90%;
  gap: 1rem;
  margin-bottom: 5.0625rem;
}

.intro__textSubHeader {
  color: #D0D6F9;
  font-size: 1rem;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 0.16875rem;
  font-weight: 400;
}

.intro__textHeader {
  color: #FFFFFF;
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-size: 5rem;
  line-height: 6.25rem;
}

.intro__textParagraph {
  color: #D0D6F9;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  font-weight: 400;
  max-width: 21.0625rem;
}

.intro__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFFFFF;
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 100%;
}

.intro__btnHeader {
  font-family: "Bellefair", serif;
  color: #0B0D17;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4325rem;
  letter-spacing: 0.07812rem;
}

@media (min-width: 768px) {
  .intro {
    margin-top: 6.625rem;
  }
  .intro__text {
    gap: 1.5rem;
    margin-bottom: 9.75rem;
  }
  .intro__textSubHeader {
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: 0.21125rem;
  }
  .intro__textHeader {
    font-size: 9.375rem;
    line-height: 9.375rem;
  }
  .intro__textParagraph {
    font-size: 1rem;
    line-height: 1.75rem;
  }
  .intro__btn {
    width: 15.125rem;
    height: 15.125rem;
    border-radius: 100%;
  }
  .intro__btnHeader {
    font-size: 2rem;
    line-height: 2.29188rem;
    letter-spacing: 0.125rem;
  }
}

@media (min-width: 1440px) {
  .intro {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 15.6875rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 10.3125rem 0 10.3125rem;
  }
  .intro__text {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    width: 80%;
  }
  .intro__textSubHeader {
    font-size: 1.75rem;
    line-height: 2.1rem;
    letter-spacing: 0.295rem;
  }
  .intro__textHeader {
    line-height: 10.74375rem;
  }
  .intro__textParagraph {
    font-size: 1.125rem;
    line-height: 2rem;
    width: 45%;
    max-width: 24.5625rem;
  }
  .intro__btn {
    background-color: #FFFFFF;
    width: 17.125rem;
    height: 17.125rem;
    border-radius: 100%;
    z-index: 999999;
    -webkit-transition: ease-in-out 0.6s;
    transition: ease-in-out 0.6s;
  }
  .intro__btn:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 0 50px rgba(80, 80, 80, 0.5);
            box-shadow: 0 0 0 50px rgba(80, 80, 80, 0.5);
  }
}

.destination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.destination__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.destination__topHeading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
}

.destination__picture {
  width: 10.625rem;
}

.destination__header {
  font-size: 1rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  line-height: 1.2rem;
  letter-spacing: 0.16875rem;
  color: #FFFFFF;
}

.destination__headerAccent {
  font-weight: 700;
  mix-blend-mode: normal;
  opacity: 0.25;
}

.destination__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.625rem;
  width: 85%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.destination__choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.625rem;
  margin-bottom: 2.5rem;
}

.destination__choiceItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

.destination__choiceItemLink {
  text-decoration: none;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 0.875rem;
  line-height: 1.05rem;
  letter-spacing: 0.14766rem;
  color: #FFFFFF;
}

.destination__choiceItemLinkHeader {
  font-weight: 400;
}

.destination__choiceItemLine {
  background-color: #FFFFFF;
  width: 100%;
  height: 0.1875rem;
  opacity: 0;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.destination__choiceItemLine.activeChoice {
  opacity: 1;
}

.destination__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 0.0625rem;
}

.destination__descHeader {
  color: #FFFFFF;
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 4.01125rem;
  text-transform: uppercase;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.destination__descParagraph {
  font-family: "Barlow Condensed", sans-serif;
  color: #D0D6F9;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.destination__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 2rem;
}

.destination__infoItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.75rem;
}

.destination__infoItemSubHeader {
  font-family: "Barlow Condensed", sans-serif;
  color: #D0D6F9;
  font-size: 0.875rem;
  line-height: 1.05rem;
  letter-spacing: 0.1475rem;
  font-weight: 400;
}

.destination__infoItemHeader {
  font-family: "Bellefair", serif;
  color: #FFFFFF;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 2.00563rem;
  text-transform: uppercase;
}

.divider {
  margin: 2rem 0;
  width: 100%;
  height: 0.0625rem;
  background-color: #383B4B;
}

@media (min-width: 768px) {
  .destination {
    margin-top: 2.5rem;
  }
  .destination__top {
    width: 100%;
  }
  .destination__topHeading {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 2.40625rem;
    margin-bottom: 3.75rem;
  }
  .destination__header {
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: 0.21125rem;
  }
  .destination__picture {
    width: 18.75rem;
  }
  .destination__bottom {
    margin-top: 3.3125rem;
  }
  .destination__choice {
    margin-bottom: 2rem;
  }
  .destination__choiceItemLink {
    font-size: 1rem;
    line-height: 1.2rem;
    letter-spacing: 0.16875rem;
  }
  .destination__desc {
    gap: 0.5rem;
  }
  .destination__descHeader {
    font-size: 5rem;
    line-height: 5.73rem;
  }
  .destination__descParagraph {
    font-size: 1rem;
    line-height: 1.75rem;
    max-width: 34.375rem;
    width: 95%;
  }
  .destination__info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 6.25rem;
  }
}

@media (min-width: 1440px) {
  .destination {
    margin-top: 4.75rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .destination__topHeading {
    padding-left: 10.40625rem;
  }
  .destination__header {
    font-size: 1.75rem;
    line-height: 2.1rem;
    letter-spacing: 0.295rem;
  }
  .destination__picture {
    width: 27.8125rem;
  }
  .destination__bottom {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-right: 10.1875rem;
    width: 50%;
  }
  .destination__desc {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    gap: 0.875rem;
  }
  .destination__descHeader {
    font-size: 6.25rem;
    line-height: 7.1625rem;
  }
  .destination__descP aragraph {
    font-size: 1.125rem;
    line-height: 2rem;
  }
  .destination__choice {
    margin-bottom: 3.25rem;
  }
  .destination__choiceItem:hover .destination__choiceItemLine {
    opacity: 0.5;
  }
  .destination__info {
    text-align: left;
  }
}

.crew {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}

.crew__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.crew__headerHeading {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 0.16875rem;
  color: #FFFFFF;
  font-weight: 400;
}

.crew__headerHeadingAccented {
  font-weight: 700;
  mix-blend-mode: normal;
  opacity: 0.25;
}

.crew__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin-top: 2rem;
}

.crew__mainPicture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border-bottom: 2px solid #383B4B;
  max-width: 21.125rem;
}

.crew__mainPictureItem {
  width: 50%;
}

.crew__mainText {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crew__mainTextSelector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.crew__mainTextSelectorItem {
  background-color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.17;
  height: 0.625rem;
  width: 0.625rem;
  border-radius: 100%;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.crew__mainTextSelectorItem:hover {
  cursor: pointer;
  opacity: 0.6;
}

.crew__mainTextSelectorItem.selectorCurrent {
  opacity: 1;
}

.crew__mainTextContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 2rem;
}

.crew__mainTextContentRole {
  position: relative;
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.125rem;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.5;
}

.crew__mainTextContentName {
  margin-top: 0.5rem;
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  color: #FFFFFF;
}

.crew__mainTextContentDesc {
  margin-top: 1rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: #D0D6F9;
  max-width: 21.125rem;
}

@media (min-width: 768px) {
  .crew__header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 2.5rem;
    padding-left: 2.40625rem;
  }
  .crew__headerHeading {
    font-size: 1.25rem;
    letter-spacing: 0.21094rem;
    line-height: 1.5rem;
  }
  .crew__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .crew__mainText {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .crew__mainTextContentRole {
    font-size: 1.5rem;
    line-height: 1.71875rem;
  }
  .crew__mainTextContentName {
    font-size: 2.5rem;
    line-height: 3.03375rem;
  }
  .crew__mainTextContentDesc {
    font-size: 1rem;
    line-height: 1.75rem;
    max-width: 21.875rem;
  }
  .crew__mainTextSelector {
    margin-top: 2.5rem;
  }
  .crew__mainPicture {
    margin-top: 2.5rem;
    max-width: 43.25rem;
    border-bottom: unset;
  }
  .crew__mainPictureItem {
    width: 50%;
  }
}

@media (min-width: 1440px) {
  .crew__header {
    padding-left: 10.40625rem;
  }
  .crew__main {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .crew__mainPicture {
    width: 50%;
  }
  .crew__mainPictureItem {
    width: 70%;
  }
  .crew__mainText {
    width: 50%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 10.40625rem;
  }
  .crew__mainTextSelector {
    margin-top: 7.5rem;
  }
  .crew__mainTextSelectorItem {
    height: 0.9375rem;
    width: 0.9375rem;
  }
  .crew__mainTextContent {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .crew__mainTextContentRole {
    font-size: 2rem;
    line-height: 2.3125rem;
  }
  .crew__mainTextContentName {
    font-size: 3.5rem;
    line-height: 4rem;
  }
  .crew__mainTextContentDesc {
    text-align: left;
    font-size: 1.125rem;
    line-height: 2rem;
  }
}
/*# sourceMappingURL=main.css.map */