// Colors
$mainColor: #FFFFFF;
$secondaryColor: #D0D6F9;
$thirdColor: #0B0D17;

// Fonts
$headerFont: 'Bellefair', serif;
$subHeaderFont: 'Barlow Condensed', sans-serif;

// Breakpoints
$breakTablet: 768px;
$breakDesktop: 1440px;